<!DOCTYPE html>
<html lang="sw">
<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>

    <!-- Main Content -->
    <main>
        <%- body %>
    </main>

    <%- include('partials/footer') %>
    
    <%- include('partials/scripts') %>
</body>
</html>